<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.internetwork.mapper.CategoryMapper">
    <select id="getSubcategoriesById" resultType="java.lang.Integer">
        SELECT id
        FROM t_product_category
        WHERE parent_id = #{id}
    </select>
    <select id="getCategoryById" resultType="java.lang.String">
        SELECT name
        FROM t_product_category
        WHERE id = #{id}
    </select>
</mapper>